<h1>Produtos</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end div-top">
  <a routerLink="/produto/0" class="btn btn-success" routerLinkActive="active">Novo</a>
</div>

<div *ngIf="error" class="error">
  <div class="alert alert-danger alert-dismissible" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="FecharError()"></button>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Descrição</th>
      <th scope="col">Valor</th>
      <th scope="col">Marca</th>
      <th scope="col" class="actions">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.descricao}}</td>
      <td>{{product.valor}}</td>
      <td>{{product.marca}}</td>
      <td>
        <a routerLink="/produto/{{product.id}}" class="btn btn-primary" routerLinkActive="active">Editar</a>
        <button type="button" class="btn btn-danger" (click)="openPopup(product.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmação de exclusão</h4>
      </div>
      <div class="modal-body">
        <p>Deseja mesmo excluir o item selecionado ?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="Remove(productId)">
          Sim
        </button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Não
        </button>
      </div>
    </div>
  </div>
</div>