<div class="d-flex justify-content-center align-items-center" style="margin-top: 12%">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div *ngIf="error" >
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="FecharError()"></button>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Login</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Login"
                        [(ngModel)]="login.login" name="login">
                </div>
                <br><br>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Senha</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" required placeholder="Senha"
                        [(ngModel)]="login.senha" name="senha">
                </div>

                <br><br>

                <button class="btn btn-success" style="width: 100%;" type="submit" (click)="Logar()">Entrar</button>
                <br><br>

                <a class="card-link" href="/usuario/0" style="margin-left: 26%;" type="submit">Criar nova conta</a>

            </form>
        </div>
    </div>

</div>