<h1>Jogos</h1>
<div *ngIf="error" >
    <div class="alert alert-danger alert-dismissible" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="FecharError()"></button>
    </div>
</div>

<form>
    <input type="hidden" [(ngModel)]="jogo.id" name="id">
    <div class="form-group">
        <label for="exampleFormControlInput1">Nome</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Nome"
            [(ngModel)]="jogo.nome" name="nome">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Descricao</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Descricao"
            [(ngModel)]="jogo.descricao" name="descricao">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Valor</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Valor"
            [(ngModel)]="jogo.valor" name="valor">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Data de lançamento</label>
        <input type="date" class="form-control" id="exampleFormControlInput1"
            [ngModel]="jogo.data_lancamento | date:'yyyy-MM-dd'" (ngModelChange)="jogo.data_lancamento = $event"
            name="data_lancamento">
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" (click)="upSert()">Salvar</button>
        <a routerLink="/jogos" class="btn btn-secondary" routerLinkActive="active">Voltar</a>
    </div>
</form>